# Exclude node_modules for both frontend and backend
crypto-backend/node_modules/
crypto-frontend/node_modules/

# Ignore sensitive config files (if any)
.env

# Ignore logs
*.log

# Ignore idea project files (IDE-specific)
.idea/

# Optionally ignore npm-debug and yarn-debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude build artifacts (optional depending on the use case)
crypto-frontend/build/
crypto-backend/dist/


